<blockquote class="active">
	<p>Innovation distinguishes between a leader and a follower.</p>
  <small>Steve Jobs <cite title="Source Title"></cite></small>
</blockquote>
<center>
<h2>Test your tech knowlegde with TECH IQ</h2>
<br>
<br>
<br>
<a href="/quizplay" class="btn btn-primary btn-block"> Play Quiz</a>

<center>
