<div class="jumbotron">
	<div class="container">
		<h1>Welcome!</h1>
		<p>Register to start taking quiz.</p>
		<p>
		 <%= link_to 'Register',signup_path, class: 'btn btn-primary btn-lg' %>  
		<blockquote class="active">
			<p>Wisdom is not a product of schooling but of the lifelong attempt to acquire it.</p>
			<small>Albert Einstein <cite title="Source Title"></cite></small>
		</blockquote>
		<center>
			<h2>Test your brain power by iQUIZ</h2>
			<img align="center" src="http://newlifelathrop.com/wordpress/wp-content/uploads/2017/03/brain-power.jpg" height=250 width = "400"></img>
			<br>
			<br>
			<br>
			<a href="/quizplay" class="btn btn-primary btn-block"> play Quiz</a>

			<center>
		</p>
	</div>
</div>
